---
layout: default
---

<div id="content">
  <div class="hfeed">
  {% for post in paginator.posts %}
    {% include post-summary.html post=post %}
  {% endfor %}
  </div>

  <nav class="pagination loop-pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: 'index.html', '' }}" class="prev page-numbers">&larr; Précédent</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class='page-numbers current'>{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ site.baseurl }}/" class='page-numbers'>{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class='page-numbers'>{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next page-numbers">Suivant &rarr;</a>
    {% endif %}
  </nav>
</div>