---
title: Blog
layout: default
draft: false
---

<div id="content">
  <div class="hfeed">
  {% for post in paginator.posts %}
    {% include post-summary.html post=post %}
  {% endfor %}
  </div>

  <nav class="pagination loop-pagination">
  {% if paginator.next_page %}
    <a class="prev page-numbers" href="{{ site.baseurl }}/page/{{paginator.next_page}}">&larr; Précédent</a>
  {% else %}
    <span class="prev page-numbers">&larr; Précédent</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="next page-numbers" href="{{ site.baseurl }}/">Suivant &rarr;</a>
    {% else %}
      <a class="next page-numbers" href="{{ site.baseurl }}/page/{{paginator.previous_page}}">Suivant &rarr;</a>
    {% endif %}
  {% else %}
    <span class="next page-numbers">Suivant &rarr;</span>
  {% endif %}
  </nav>
</div>
