<footer class="page-footer">
  <div class="wrapper">
    <div class="grid-3">
      <section>
        <h3 id="footerTitle1" class="text-lg">{% t Épisodes précédents %}</h3>
        <nav aria-labelledby="footerTitle1">
          <ul>
            {% assign editions = site.data.editions | sort: 'year' | reverse%}
            {% for edition in editions %}
              {% capture year %}{{ edition.year }} {% t à %} {{edition.town}}{% endcapture %}
              {% if edition.year == 2018 %}
                {% capture year %}<strong>{{ year }}</strong>{% endcapture %}
              {% endif %}
              <li><a href="https://sudweb.fr/blog/{{edition.year}}">{{ year }}</a></li>
            {% endfor%}
          </ul>
        </nav>
      </section>
      <section>
        <h3 id="footerTitle2" class="text-lg">Site de Sud Web</h3>
        <nav aria-labelledby="footerTitle2">
          <ul>
            {% assign footer_links = site.data.sitemap | where: 'in_footer', true %}
            {% for link in footer_links %}
              <li>{% include link.html link=link %}</li>
            {% endfor%}
          </ul>
        </nav>
      </section>
      <section>
        <h3 class="text-lg">{% t On reste en contact ? %}</h3>
        <form
          action="https://sudweb.us10.list-manage.com/subscribe/post"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="newsletter-form validate"
          target="_blank"
          rel="noopener noreferrer"
          novalidate=""
        >
          <input type="hidden" name="u" value="97ca8fd39c2ce2d39c235b3a2">
          <input type="hidden" name="id" value="e528f83f39">

          <label for="mce-EMAIL">{% t Recevez la Sud Web letter %}</label>
          <div class="form-row">
            <input
              autocapitalize="none"
              autocorrect="off"
              class="email"
              id="MERGE0"
              name="MERGE0"
              placeholder="{% t Votre email %}"
              required=""
              type="email"
              value=""
            >

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <label for="b_name">Name: </label>
              <input type="text" name="b_name" tabindex="-1" placeholder="Bob" id="b_name" value="">
              <label for="b_email">Email: </label>
              <input type="email" name="b_email" tabindex="-1" placeholder="votreadresse@gmail.com" id="b_email" value="">
              <label for="b_comment">Comment: </label>
              <textarea name="b_comment" tabindex="-1" placeholder="Please comment" id="b_comment"></textarea>
            </div>
            <button class="button-reset" type="submit" name="subscribe" id="mc-embedded-subscribe">ok</button>
          </div>
        </form>

        <ul class="social-links">
          {% for social in site.data.social %}
            <li>
              <a href="{{social.url}}" title="{{social.title}}">
                <svg width="1em" role="img" aria-label="{{social.name}}" viewBox="0 0 448 512">
                  <use xlink:href="{{ "/assets/svg/symbol-defs.svg#" | append: social.name | relative_url }}"/>
                </svg>
              </a>
            </li>
          {% endfor%}
        </ul>
      </section>
    </div>
    <hr>
    <p class="text-center">{% t Contribué sur %} <a href="https://github.com/sudweb/blog">github</a> {% t et gracieusement hébergé par %} <a href="https://alwaysdata.com">alwaysdata</a>.</p>
  </div>
</footer>
