<!DOCTYPE html>
<html lang="fr-FR"
      itemscope
      itemtype="http://schema.org/WebSite"
      prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  {% seo %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1">
  <link type="application/atom+xml" rel="alternate" href="{{ site.baseurl }}/feed.xml" title="{{ site.title }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css"/>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,700|Squada+One">

 {% include favicons.html %}
 {% include analytics.html %}
</head>
