<div class="header">
  <div id="branding">
    <h1 id="site-title">
      <a href="{{ "/" | relative_url }}" title="{{ site.title }}" rel="Home">
	<img class="logo" src="{{ site.baseurl }}/assets/images/logo-horizontal-couleur.png" alt="Sud Web" />
      </a>
    </h1>
  </div>

  <nav role="navigation">
    <ul class="nav-menu">
      <li class="menu-item"><a href="https://sudweb.fr">Événement</a></li>
      <li class="menu-item"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
      <li class="menu-item"><a href="https://twitter.com/sudweb">Twitter</a></li>
      <li class="menu-item"><a href="https://facebook.com/sudweb">Facebook</a></li>
    </ul>
  </nav>
</div>
