<div id="post-" class="hentry post publish category-2015">
    <div class="sticky-header">
        <h2 class="post-title entry-title">
            <a href="{{ post.permalink | prepend: site.baseurl }}" rel="permalink">{{ post.title }}</a>
        </h2>

        <div class="byline">
	    <time class="published">{{ post.date | localize: "%d %B %Y" }}</time> par <span class="author vcard">{{ post.author }}</span>

            {% if post.categories %}
              dans
              {% for category in post.categories %}
              <a href="{{ category | prepend: '/category/' | prepend: site.baseurl }}" rel="tag">{{ category }}</a>
              {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="entry-summary">{{ post.excerpt }}</div>
</div>
