{% include head.html %}

<body class="category category-{{ page.category }}">

<div id="container">
  <div class="wrap">
    {% include header.html %}

    <div id="main">
      <div id="content">
        <h1>{{ page.title }}</h1>

        <div class="hfeed">
        {% assign categories = page.categories | downcase %}

        {% for post in site.categories[categories] %}
          {% include post-summary.html post=post %}
        {% endfor %}
        </div>
      </div>
    </div>

    {% include sidebar.html %}
    {% include footer.html %}

  </div>
</div>
</body>
</html>
