{% include head.html %}

<body class="wordpress ltr fr_FR parent-theme custom-header singular singular-post">
<div id="container">
  <div class="wrap">
    {% include header.html %}

    <div id="main">
      <div id="content">
        <div class="hfeed">
          <div id="post-" class="hentry post publish">
              <div class="sticky-header">
                  <h2 class="post-title entry-title">
                      {{ page.title }}
                  </h2>

                  <div class="byline">
		      <time class="published">{{ page.date | localize: "%d %B %Y" }}</time> par <span class="author vcard">{{ page.author }}</span>
                  </div>
              </div>

              <div class="entry-summary">{{ page.excerpt }}</div>
          </div>
          <div class="entry-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include sidebar.html %}
    {% include footer.html %}

  </div>
</div>
</body>
</html>
